name: Versioning

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    tag:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Bump version and create tag
              id: tag
              uses: mathieudutour/github-tag-action@v6.1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  tag_prefix: 'v'
                  release_branches: main
                  default_bump: false
